<div class="user_comment">
  <div class="post">
    <div class="post_comment">
      <h2><%= @post.title %> by <%= @post.author.name %></h2>
      <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="btn">
    <a href="/users/<%= @post.author_id%>/posts/<%= @post.id %>/comments/new" class="button">Add a comment</a>
    <%= render 'shared/like', model: @like, url: like_path(@post, :post_id) %>
  </div>
  <ul class="comments">
  <% @post.comments.includes([:author]).each do |comment|%>
    <li>
      <div class="comment_box">
        <b><%= comment.author.name %>:</b> <%= comment.text %>
        <% if can? :destroy, comment %>
          <%= form_with(model: @comment, url: user_post_comment_path(params[:user_id], @post, comment), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'delete_comment') do |form| %>
            <%= form.submit "Delete Comment" %>
          <% end %>
        <% end %>
      </div>
    </li><br/>
  <%end%>
  </ul>
</div>