<div class="user_comment">
  <div class="post">
    <div class="post_comment">
      <h2><%= @post.title %> by <%= @post.author.name %></h2>
      <span>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="btn">
    <a href="/users/<%= @post.author_id%>/posts/<%= @post.id %>/comments/new" class="button">Add a comment</a>
    <%= button_to "Like", likes_path(@post, :post_id), method: 'post'%>
  </div>
  <ul class="comments">
    <% @post.comments.each do |comment|%>
      <li><b><%= comment.author.name %>:</b> <%= comment.text %></li><br/>
    <%end%>
  </ul>
</div>